.resume {
    color: purple;
    background-color: rgb(208, 196, 252);}

.h2 {
    color: #1f0133;
    font-size: 24px;
    font-weight: bold;
}

.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 500px;
  }
  